*{
  margin:0 auto;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Karla', 'Helvetica Neue',
  sans-serif;
  text-decoration: none;
}

html {
  font-size: 16px;
}


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer-nav, .main-nav {
  display: flex;
  padding: 2rem 15rem;
}

li {
  list-style: none;
}

a {
  color: black;
}

.Logo {
  height: 2.5rem;
  width: 9rem;
}

.nav-item {
  color: black;
}

.main-nav .nav-item {
  margin-top: 0.5rem;
}

.footer-nav .nav-item {
  display: block;
}

/*Form in Reserve_Table

.reservation {
  background-color: #495e57;
  margin: 0rem auto;
  height: 22rem;
  width:22rem;
  border-radius: 8px;
  position: relative;
  top: 4rem;
}

.reservation h2 {
  color: #edefee;
  text-align: center;
  padding: 1.5rem 0 1rem;
  font-family: 'Karla';
}

.reservation form {
  padding: 0 2rem;
  color: #edefee;
  font-size: 1.2rem;
}

label, input {
  margin: 0.6rem;
}

input {
  height: 1.5rem;
  width: 8rem;
}
.background {
  background-image: url(./images/restauranfood2.jpg);
  background-size: cover;
  height: 30rem;
}

  button {
  height: 2rem;
  width: 7rem;
  margin: 2rem 7rem;
  background-color: #f4c614;
  border: none;
  border-radius: 8px;
} */

/* Hero Section */
.banner {
  background-color: #495e57;
  display: flex;
  padding: 1rem 7rem 3rem;

}

.b-img {
  height: 22rem;
  width: 18rem;
  border-radius: 8px;
  margin-top: 1.5rem;
}

.title {
  color: #f4ce14;
}

.description {
  width: 30rem;
}

h1 {
  font-size: 4rem;
  font-family: 'Markazi Text';
}

.description h2, .description h3 {
  color: #edefee;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

button {
  height: 2.2rem;
  width: 12rem;
  margin-top: 2rem;
  background-color: #f4c614;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #495e57;
}

.firstPart {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  justify-content:space-around;

}

.firstPart button {
  margin: 0rem 3rem 1.5rem 0rem;
}

.firstPart h2, .testimonials h2 {
  color: #495e57;
}

.cards {
  width:15rem;
  display: grid;
  grid-auto-flow: column;
  gap: 6rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.cards img {
  height: 12rem;
  width: 16rem;
  border-radius: 8px;
}

.dish {
  color: #495e57;
  padding: 0.5rem 1rem;
}

.card-1, .card-2, .card-3 {
  background-color: #edefee;
}

span {
  color:red;
}

.weekSpecials {
  margin: 2rem 0;
}

.testimonials {
  margin: 4rem 0;
}

.cards-testimonial {
  display: grid;
  grid-auto-flow: column;
  gap: 6rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.cards-testimonial img {
  height: 4rem;
  width: 4rem;
  margin: 0.6rem;
}

.test1, .test2, .test3, .test4 {
  width: 9rem;
  height: 9rem;
  text-align: center;
}

.testimonials h2 {
margin-left: 15rem;
}